* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Helvetica;
}

@keyframes apar{
    0% {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: -50px;
        opacity: 0.0;
    }
    
    100% {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        opacity: 1.0;
    }
}

@keyframes back{
    0% {
        background-color: transparent;
    }
    
    100% {
        background-color: white;
    }
}

body {
    text-align: center;
    background: linear-gradient(green, darkgreen);
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    margin-top: 20%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100vw;
    animation: 1s apar, 1s back forwards;
    position: fixed;
}

.scroll {
    height: 120vh;
}